# Node.js dependencies
**/node_modules/
npm-debug.log

# Build output
/build
/front/build

# Other system files
.DS_Store

# Environment files
.env

# Python virtual environment
back/venv/
venv/
__pycache__/
*.pyc
*.pyo